/**
 *
 * Master stylesheet
 * @author Dan McClintock
 * version 0.0.1
 *
 */
/*
	 Import Libraries
	 ========================================================================== */
/**
 *
 * Theme Variables
 * @author Dan McClintock
 * version 0.0.1
 *
 */
/*
   Custom Variables
   ========================================================================== */
/**
 *
 * Theme Mixins
 * @author Dan McClintock
 * version 0.0.1
 *
 */
/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #969896; }

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #cc6666; }

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #de935f; }

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #f0c674; }

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b5bd68; }

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #8abeb7; }

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #81a2be; }

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #b294bb; }

.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
  -webkit-text-size-adjust: none; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5; }

/**
 *
 * Theme Styles
 * @author Dan McClintock
 * version 0.0.1
 *
 */
/*==========  Reset  ==========*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

/*==========  Typography  ==========*/
p, ul, ol, table, hr, .p,
h1, h2 {
  margin-bottom: 30px;
  margin-bottom: 1.5rem; }

h1 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1; }

h2 {
  font-weight: 700;
  font-size: .9rem;
  line-height: 1.5789473684;
  margin-bottom: 0; }

h3 {
  font-size: .75rem;
  line-height: 2;
  font-weight: 400; }

a {
  color: #cc4400;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.intro:first-line {
  font-variant: small-caps;
  letter-spacing: .05em; }

.clearall {
  clear: both; }

/*==========  Main  ==========*/
::selection {
  background-color: #a3aab3; }

::-moz-selection {
  background-color: #a3aab3; }

html {
  font: 110%/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #222;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

/*==========  Custom Styles  ==========*/
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

header {
  text-align: center; }
  header h1 {
    width: 70%;
    margin: 1em auto; }
  header nav {
    text-align: center;
    padding: 0.25em;
    background-color: #1c1c1c; }
    header nav li {
      display: inline; }
      header nav li a {
        font-weight: bold;
        text-transform: uppercase; }
        header nav li a:before {
          content: "{ "; }
        header nav li a:after {
          content: " }"; }

section {
  float: left;
  width: 80%;
  padding-right: 0.5em; }

aside {
  float: left;
  width: 20%;
  padding-left: 0.5em; }
  aside a {
    font-size: .7rem;
    display: block;
    width: 100%; }

footer {
  color: #ececec;
  font-size: 80%;
  text-align: center;
  margin-top: 2em;
  padding: 0.25em;
  background-color: #2b2b2b; }

.hljs {
  tab-size: 2; }

pre code.acc in {
  color: #ececec; }
  pre code.acc in:before {
    content: "$ "; }
  pre code.acc in > cmd {
    color: #fda623; }
  pre code.acc in > em {
    color: #d7849c;
    font-style: italic; }
pre code.acc out {
  color: #a3ec58; }

/*==========  Media Queries  ==========*/
@media screen and (max-width: 760px) {
  html {
    font-size: 100%;
    height: auto;
    min-height: 100%; }

  .container {
    width: 100%;
    margin: 0;
    padding: 0; }

  p, ul, ol, table, hr, .p, h1, h2 {
    padding-left: 1em;
    padding-right: 1em; } }

/*# sourceMappingURL=style.css.map */
