/**
 *
 * Theme Variables
 * @author Dan McClintock
 * version 0.0.1
 *
 */

/*
   Custom Variables
   ========================================================================== */

// Custom variables here
